
body{
    background-color: white; 

}
h1 {
    font-family: dosis; 
}
h2{
    color: blueviolet; 
}
.two {
    width:100px;
    height:20px;
    margin:1px;
    display:block;
    background-color: white; 
    font: size 10pt;
    color: black; 
    font-family: 'Allerta Stencil', sans-serif;
    text-align:center;
    text-decoration: none; 
    float: left;
    padding: 3px;
    }