

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    color: blue;
}
h2{
    color:#7AA3D6; 
}
h3{
    color: #7AA3D6;
}

.one {
    width:100px;
    height:20px;
    margin:1px;
    display:block;
    background-color: white; 
    font: size 10pt;
    color: rgb(127, 145, 206); 
    font-family: 'Allerta Stencil', sans-serif;
    text-align:center;
    text-decoration: none; 
    float: left;
    padding: 3px;
    }
    .two {
        width:100px;
        height:20px;
        margin:1px;
        display:block;
        background-color: white; 
        font: size 10pt;
        color: rgb(127, 145, 206); 
        font-family: 'Allerta Stencil', sans-serif;
        text-align:center;
        text-decoration: none; 
        float: left;
        padding: 3px;
        }
        .three {
            width:100px;
            height:20px;
            margin:1px;
            display:block;
            background-color: white; 
            font: size 10pt;
            color: rgb(127, 145, 206); 
            font-family: 'Allerta Stencil', sans-serif;
            text-align:center;
            text-decoration: none; 
            float: left;
            padding: 3px;
            }